@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fira: 'Fira Code', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .border-outside {
   @apply border-gray-200 border-[1px];
  }
  .border-top {
   @apply border-t-gray-200 border-t-[1px];
  }
  .border-bottom {
   @apply border-b-gray-200 border-b-[1px];
  }
  .border-left {
   @apply border-l-gray-200 border-l-[1px];
  }
  .border-right {
   @apply border-r-gray-200 border-r-[1px];
  }
  .padding-main {
    @apply px-[1rem] sm:px-[5rem] md:px-[7rem] lg:px-[23.05rem]
  }
}

@keyframes slide {
  0% { transform: translateY(0%); }
  33% { transform: translateY(-100%); }
  66% { transform: translateY(-200%); }
  /* 75% { transform: translateY(0%); } */
  100% { transform: translateY(0%); }
}

.animate-slide {
  display: flex;
  flex-direction: column;
  animation: slide 5s ease infinite ;
}

